$(function() {
  var mymap = L.map('map').setView([41.1731626, -8.6641788], 13);

  L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>',
    maxZoom: 18
  }).addTo(mymap);

  var church = new L.icon({
    iconUrl: '<%= asset_path('icons/church.svg') %>',

    iconSize:     [38, 80], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    popupAnchor:  [-3, -36] // point from which the popup should open relative to the iconAnchor
  });

  var reception = new L.icon({
    iconUrl: '<%= asset_path('icons/reception.svg') %>',

    iconSize:     [38, 80], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    popupAnchor:  [-3, -36] // point from which the popup should open relative to the iconAnchor
  });

  $.get('http://simaoemariana.cartodb.com/api/v2/sql?format=GeoJSON&q=SELECT * FROM locais_chave WHERE icon IS NOT NULL',
    function(data) {
      if(data !== undefined) {
        L.geoJson(data, {
          pointToLayer: function (feature, latlng) {
            return L.marker(latlng, {icon: eval(feature.properties.icon)});
          },
          onEachFeature: function (feature, layer) {
            layer.bindPopup(placesPopUp(feature.properties));
          }
        }).addTo(mymap);
      }
  });

});

function placesPopUp(props) {
  return "<div class='tooltip-wrapper'><div class='map-tooltip "+ props.icon + "'>" + props.name + "</div>" +
    "<div class='map-tooltip-content'>"+props.description+"</div></div>";
}

