$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

$navbar-default-bg: #F2F4F3;
$navbar-default-color: #000;

@import "bootstrap";
@import "home";
